<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_nutrizen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_nutrizen_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutrizen"
        tools:targetApi="31" >
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" />
        <activity
            android:name=".activity.dataform.FormActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" />
        <activity
            android:name=".activity.scan.ScanActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" />
        <activity
            android:name=".activity.add.AddActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" />

        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrizen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider" />
        </provider>
    </application>

</manifest>